<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.graos.auditory_scanning_final_project">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".global_variables"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/activity_home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity" android:label="@string/title_activity_sign_up" />
        <activity android:name=".AreaPersonalActivity" android:theme="@style/NoActionBar" />
        <activity android:name=".AlgorithmLevel" android:theme="@style/NoActionBar" />
        <activity android:name=".Edit_Rama_1"  />
        <activity android:name=".Edit_Rama_2" />
        <activity android:name=".Edit_Rama_3" />
        <activity android:name=".Edit_Rama_4" />
        <activity android:name=".Display_Rama_1" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Display_Rama_2" />
        <activity android:name=".Display_Rama_3" />
        <activity android:name=".Display_Rama_4"> </activity>
    </application>

</manifest>